@model test.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}




<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quản Lý Bài Hát</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">

                           

                        </div>
                        <div class="col-sm-6 text-right">


                            <style>
                                .select-x {
                                    width: 100%;
                                    max-width: 300px;
                                }
                            </style>
                            <div style="display:inline-block">
                                <input id="search-board">
                            </div>
                            <div id="dropdown" class="text-right dropdown" style="display:inline-block">

                                
                                <div style="padding:10px" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div>
                                        <div>
                                            Tỉnh/Thành phố:
                                            <select class="select-x" id="province-select" name="province-select">
                                                <option value="">- Tỉnh thành -</option>
                                                <option value="1">Hà Nội</option>
                                                <option value="2">Hải phòng</option>
                                            </select>
                                        </div>
                                        <div>
                                            Quận/Huyện:
                                            <select style="max-width:300px;width:100%" class="selectpicker select-filter" id="districs-select">
                                                <option value="-1">Tất cả</option>

                                            </select>
                                        </div>
                                        <div>
                                            Xã/Phường:
                                            <select style="max-width:300px;width:100%" class="selectpicker select-filter" id="wards-select">
                                                <option value="-1">Tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <a href="/DOCTER/Add" class="btn btn-primary btn-xs"><i class="glyphicon-plus"></i> Thêm mới</a>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body data-show">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>MÃ BÀI HÁT</th>
                                <th>TÊN BÀI HÁT</th>
                                <th>ẢNH ĐẠI DIỆN</th>
                                <th>TRẠNG THÁI</th>
                                <th style="width: 100px;text-align: center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1044</td>
                                <td>lưu thành</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    
                                    <a href="/DOCTER/Add?id=1044" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1044" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1045</td>
                                <td>lưu thành</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1045" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1045" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1046</td>
                                <td>Chung Nghia</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1046" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1046" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>1047</td>
                                <td>nghia32</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1047" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1047" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1055</td>
                                <td>Giay Nhap</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/20180407/20180407020551.PNG" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1055" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1055" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>1057</td>
                                <td>GiaynhapTestTer</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1057" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1057" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>1058</td>
                                <td>BacSI</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1058" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1058" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>1039</td>
                                <td>Trang</td>
                                <td>
                                    <img id="img-preview" src="avc" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1039" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1039" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>1041</td>
                                <td>Nguyễn Duy Ánh</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1041" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1041" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>1078</td>
                                <td>Le</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/20180509/20180509115247.jpg" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1078" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1078" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>1079</td>
                                <td>Lê Cường</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1079" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1079" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>1081</td>
                                <td>Nguyễn trà my</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/20180515/thumb_20180515064015.jpg" width="30px">
                                </td>
                                <td>Hoạt động</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1081" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1081" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>1082</td>
                                <td>Tuanhlai</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1082" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1082" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>1083</td>
                                <td>nguyenanhtu</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1083" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1083" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>1080</td>
                                <td>dovanthuc</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/20180513/thumb_20180513014140.jpg" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1080" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1080" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>1042</td>
                                <td>adm</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1042" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1042" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>1043</td>
                                <td>abc</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1043" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1043" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>1040</td>
                                <td>đức</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1040" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1040" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>1071</td>
                                <td>Nguyễn văn a</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1071" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1071" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>1072</td>
                                <td>Trần Văn B</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1072" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1072" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>1073</td>
                                <td>Ngô Thị C</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1073" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1073" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>1074</td>
                                <td>Giấy Nháp</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/20180422/20180422030415.jpg" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1074" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1074" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>1075</td>
                                <td>Đỗ Văn Thực</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1075" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1075" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>1076</td>
                                <td>Chellong</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1076" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1076" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>1077</td>
                                <td>giay3</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1077" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1077" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>1048</td>
                                <td>giaynhap</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1048" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1048" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>1049</td>
                                <td>tien</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1049" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1049" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>1050</td>
                                <td>Dovanthuc987</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1050" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1050" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>1051</td>
                                <td>Dovanthuc987</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1051" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1051" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>1052</td>
                                <td>Goat Nhap</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1052" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1052" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>1053</td>
                                <td>Giay Nhap</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1053" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1053" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>1054</td>
                                <td>cuccut123</td>
                                <td>
                                    <img id="img-preview" src="/Uploads/no-images.png" width="30px">
                                </td>
                                <td>Chờ duyệt</td>
                                <td style="text-align: center">
                                    <a href="/DOCTER/Add?id=1054" class="btn btn-primary btn-xs" title="edit"><i class="fa fa-edit"></i></a>
                                    <a href="/DOCTER/Delete?id=1054" class="btn btn-danger btn-xs" title="delete" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>



</div>
